@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@layer base {
  body {
    @apply m-0;
    font-family: 'Open Sans', sans-serif; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-neutral-100;
  }
}


.input-txt-bg input[type="text"]:focus~.input-text,
.input-txt-bg input[type="text"]:not(:placeholder-shown)~.input-text {
  @apply text-blue-600 bg-white transform -translate-y-5 -translate-x-3 scale-75;
}

.input-txt-bg input[type="text"]:focus,
.input-txt-bg input[type="text"]:not(:placeholder-shown) {
  @apply border-blue-600 bg-white;
}

.input-txt-bg-dark input[type="text"]:focus~.input-text,
.input-txt-bg-dark input[type="text"]:not(:placeholder-shown)~.input-text {
  @apply text-blue-600 bg-gray-800 transform -translate-y-5 -translate-x-3 scale-75;
}

.input-txt-bg-dark input[type="text"]:focus,
.input-txt-bg-dark input[type="text"]:not(:placeholder-shown) {
  @apply border-blue-600 bg-gray-800;
}



/* loader */

:root {
  --brand-success: #5cb85c;
  --loader-size: 10em;
  --check-height: calc(var(--loader-size) / 2);
  --check-width: calc(var(--check-height) / 2);
  --check-left: calc((var(--loader-size) / 6) + (var(--loader-size) / 12));
  --check-thickness: 3px;
  --check-color: var(--brand-success);
}

.circle-loader {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: var(--check-color);
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: var(--loader-size);
  height: var(--loader-size);
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: var(--check-color);
  transition: border 500ms ease-out;
}

.checkmark {
}

.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}

.checkmark:after {
  opacity: 1;
  height: var(--check-height);
  width: var(--check-width);
  transform-origin: left top;
  border-right: var(--check-thickness) solid var(--check-color);
  border-top: var(--check-thickness) solid var(--check-color);
  content: "";
  left: var(--check-left);
  top: var(--check-height);
  position: absolute;
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: var(--check-width);
    opacity: 1;
  }
  40% {
    height: var(--check-height);
    width: var(--check-width);
    opacity: 1;
  }
  100% {
    height: var(--check-height);
    width: var(--check-width);
    opacity: 1;
  }
}
